* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

 /* BACKGROUND IMAGE SLIDER */
.image-slide > div {
    position: absolute;
    opacity: 0;

    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg1 {
    background: url(./res/1.png);
}
.bg2 {
    background: url(./res/2.png);
}
.bg3 {
    background: url(./res/3.png);
}
.bg4 {
    background: url(./res/4.png);
}
/*################################*/

.menu-icon i{
    position: absolute;
    font-size: 2rem;
    padding: 0.5rem;

    z-index: 2;
}


.account {
    display: flex;
    align-items: center;
    padding: .5rem;
    padding-top: 3rem;
}
img {
    height: 3rem;
    width: 3rem;
    padding: .5rem;
}

li {
    padding: 0.6rem;

    list-style: none;
    display: flex;
    align-items: center;
}
li:hover {
    border-right: 0.3rem solid red;
    background: #9999;
}
.sidebar i {
    padding-right:2rem;
}

.sidebar{
    position: fixed;
    margin-left: -50vw;

    width: 50vw;
    height: 100vh;
    z-index: 1;

    background: #2229;
    color: #eef;
    transition: .5s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    overflow: hidden;
}

.settings {
    padding: 0.5rem;
}








/*#### red border ####*/
.rb {
    border: 1px solid red;
}